<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IUserService" />
                <binding name="BasicHttpBinding_IMessageTService" />
                <binding name="BasicHttpBinding_IApplicationSettingsService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/ServerWCF/IUserService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserService"
                contract="UserServiceReference.IUserService" name="BasicHttpBinding_IUserService" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/ServerWCF/IMessageTService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMessageTService"
                contract="MessageTServiceReference.IMessageTService" name="BasicHttpBinding_IMessageTService" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/ServerWCF/IApplicationSettingsService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IApplicationSettingsService"
                contract="ApplicationSettingsServiceReference.IApplicationSettingsService"
                name="BasicHttpBinding_IApplicationSettingsService" />
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>